.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.brand-dot {
    width: 10px;
    height: 10px;
    background-color: #0d6efd;
    border-radius: 50%;
    display: inline-block;
}

.text-light-hover:hover {
    color: #fff !important;
}

.content-body {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.04);
    border: 1px solid rgba(0,0,0,0.05);
}

@media (max-width: 768px) {
    .content-body {
        padding: 1.5rem;
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
